name: Build
on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      publish:
        description: Publish to Maven
        required: true
        default: "false"

jobs:
  build:
    strategy:
      matrix:
        java: [ 21 ]
    runs-on: ubuntu-latest
    env:
      MAVEN_USER: ${{ secrets.MAVEN_USER }}
    steps:
      -   name: Checkout Repository
          uses: actions/checkout@v4

      -   name: Setup Java
          uses: actions/setup-java@v4
          with:
            distribution: 'temurin'
            java-version: 8

      -   name: Setup Gradle
          uses: gradle/actions/setup-gradle@v4

      -   name: Build
          run: ./gradlew build

      -   name: Capture build artifacts
          uses: actions/upload-artifact@v4
          with:
            name: Artifacts
            path: build/libs/

      -   name: Publish
          if: ${{ github.event.inputs.publish }}
          run: ./gradlew publish -PdevOSUsername=${{ secrets.DEVOS_USER }} -PdevOSPassword=${{ secrets.DEVOS_PASS }}
